## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
## Ans:
#### 1) *      = its an expression. (multiplication operator)
#### 2)'hello' = its value. (string)
#### 3) -87.8  = its value. (float)
#### 4) -      = its an expression. (subtraction operator)
#### 5) /      = its an expression. (division operator)
#### 6) +	  = its an expression. (summation operator)
#### 7) 6      = its value. (integer)

## 2. What is the difference between string and variable?
## Ans:
#### String : Strings is a data type for a a sequence of characters (e.g. ‘’rdrssis ”). In addition to letters, they can also include numbers, spaces, punctuation, and even line breaks (using ‘\n’ for new line). Strings can not be used for calculation (even if your string is just a number like ‘5’), you would have to convert it to a number data type first to perform math operations on it. ex: s ='data'
#### Variable: simply variables that stores the information in the form of values. A variable is basically the name of the location in the primary memory of your computer. This can be chosen by you. A variable can store everything from strings to numbers. ex: var=56

## 3. Describe three different data types
## Ans:
#### 1) String: The string can be defined as the sequence of characters represented in the quotation marks. ex: a='rd'
#### 2) Number: Numbers: The Number data type is used to stores numeric values. for ex. int, float, complex. ex:x=1.2, y= 12 ,z=5+7j
#### 3) Tuple: Tuple data type is used to stores a collection of different data types of elements, and it is immutable.t=(1,5,7)
#### 4) List: List data type is used to store the collection of different data types of elements, and it is mutable. x=[8,5,6]
#### 5) Dictionary: Dictionary data type is used to store a collection of different data types of elements in the form of key-value pairs; it is mutable and stores the unique key.{'a':'56','b':'66'}

## 4. What is an expression made up of? What do all expressions do?
## Ans:
#### Expression is made up of values, variables and operators.
#### Expression is used to evaluate the values or represent the result.

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
## Ans:
#### In assignment statement it just assign a values to variables, its just a command like print.
#### and expression is made up of values, variables and operator, it evaluates on basis of operator.

## 6. After running the following code, what does the variable bacon contain?
## Ans:

In [3]:
bacon = 22
bacon + 1

23

In [5]:
bacon # bacon still have value 22 because becon + 1 is not reassigned to becon

22

#### variable bacon contains int 22 .

## 7. What should the values of the following two terms be?
#'spam' + 'spamspam'
#'spam' * 3

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

#### both the outhputs will be same.

## 8. Why is eggs a valid variable name while 100 is invalid?
## Ans:
#### there are certain rules for assigning variable names.
#### we cant start variable name with numbers , special characters and space etc.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
## Ans:
#### int()
#### float()
#### str() 
#### will convert the values to integer, float or string versions of the values passed to them

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
## Ans: 
#### because we cant concatenate string with integer. 
#### this can be fixed by converting int 99 to string by directly putting 99 into ' ' or simply by str(99).

In [11]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [12]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'